<div>
  <div class="head">
    <% if (item.startDate && item.endDate && (item.startDate !== item.endDate)) { %>
    From <%= moment(toDate(item.startDate)).format('LLLL') %> to <%= moment(toDate(item.endDate)).format('LLLL') %>
    <% } else if (item.startDate) { %>
    On <%= moment(toDate(item.startDate)).format('LLLL') %>
  <% } %>
  </div>
  <div class="body">
    <h4><%= item.name %></h4>
    <% if(item.description) { %>
      <p class="description"><%= item.description %></p>
    <% } %>
    <% if(item.location && item.location.name) { %>
      <p class="location"><%= item.location.name %></p>
    <% } %>
  </div>
</div>