<a href="f" class="mentionFocus"><%= media.html %></a>
<div class="body video">

  <div class="wrapper">

    <div>
      <% if (item.datePublished || item.uploadDate || item.dateCreated) { %>
      <h3><%= moment(toDate(item.datePublished || item.uploadDate || item.dateCreated)).format('LLLL') %></h3>
      <% } %>
      <h4><%= item.name %></h4>
      <div class="article">
        <% if (item.articleBody) { %>
        <%= item.articleBody %>
        <% } else if (item.description) { %>
        <%= item.description %>
        <% } %>
      </div>
    </div>
  </div>
</div>