<div>
  <a href="#<%= section.slug %>/<%= offset %>">
    <div>
      <h4>
        <%= item.name %>
        <% if (item.offers && item.offers[0] && item.offers[0].price) {  %>
          <span class="offer"><%= (item.offers[0].priceCurrency === 'EUR') ? '€' : ((item.offers[0].priceCurrency === 'GBP') ? '₤' : '$') %><%= item.offers[0].price %></span>
        <% } %>
      </h4>
    </div>
  </a>
</div>