<% var m = collection.at(0).toJSON() || {} %>
<% var pub = new moment(m.datePublished); %>
<% var min = m.duration.split('M')[0].split('H').pop(); min.length < 2 ? min = '0' + min : min %>
<% var sec = m.duration.split('S')[0].split('M').pop(); sec.length < 2 ? sec = '0' + sec : sec %>
<ul class="mosaic">
  <%= children %>
</ul>
<img class="playbutton" src="images/tv-play.png" width="31" height="43" />
<div class="header">
  <div class="thumb">
    <img data-joshfire-autothumb="true">
    <span class="duration"><%=min%>:<%=sec%></span>
  </div>
  <h1><%=m.name%></h1>
  <p class="description"><%=m.description%></p>
  <% if(m.author && m.author.length) { %><a class="author"><%=m.author[0].name%></a> <% } %>
  <% if(pub) { %>
  <a class="date"><%=pub.format('DD/MM/YYYY')%></a>
  <% } %>
</div>